<!-- <h3>Reactive forms demo</h3>
      
<form [formGroup]="frm">
  <input type="file" formControlName="file" />
  <p *ngIf="frm.controls.file.errors?.required" style="color: red">This field is required!</p>
  
  <div>
    <button type="submit" [disabled]="!frm.valid">Submit</button>
  </div>
</form> -->
<div class="container">
  <div class="row">
    <h3>Template driven forms demo</h3>
      
<form #f="ngForm">
  <input type="file" [ngModel]="fileContent" name="file" #file="ngModel" requireFile [maxFileSize]="1"/>
  <p *ngIf="!file.valid" style="color: red">File size exceeded!</p>

  <div>
    <button type="submit" [disabled]="!f.valid">Submit</button>
  </div>
</form>
  </div>
</div>
